.login{
    padding: 40px;
    box-shadow: 0 2px 50px #41416e10;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    h1{
        margin-bottom: 1em;
    }
    p{
        color: slategray;
        margin-bottom: 2em;
    }
    label{
        font-size: 12px;
        color: slategray;
    }
    input{
        padding: 20px;
        width: 100%;
        margin-bottom: 1em;
        border: 2px solid #fafafa;
        border-radius: 10px;
        outline: none;
    }
    button{
        width: 50%;
        margin-top: 1em;
        background: #0e6ffc;
        border: none;
        color: #fff;
        padding: 20px;
        font-size: 16px;
        border-radius: 10px;
        font-weight: 500;
    }
}